.MuiFormControl-root input {
    width: 100%;
    padding: 0.5rem 0rem;
}
.MuiFormControl-root.MuiTextField-root {
    padding: 0.5rem 0rem;
}

.page-holder {
    overflow: auto;
}
.page-inside {
    overflow-y: auto;
    height: 95%;
    width: 95%;
}

@media(max-width: 768px) {
    .page-holder {
        overflow: unset;
        height: inherit;
    }

    .page-inside {
        height: 100%;
        overflow: auto;
    }

    .login-card {
        width: 90% !important;
    }

    .wrapper > div{
        display: block !important;
    }
    .wrapper .align-items-center {
        display: flex !important;
    }
    .content-wrapper {
        height: calc(100% - 56px) !important;
    }
}