.table-view {
    height: 90%;
}
.MuiAppBar-root {
    max-height: 10%;
}

.table-view .checkout {
    height: 100%;
    overflow: hidden;
}
.table-view .checkout h2 {
    height: 10%;
    margin: 0;
}

.table-view .checkout .MuiTableContainer-root {
    overflow-y: visible;
    height: 80%;
}
@media(min-width: 768px) {
    .table-view .checkout .MuiList-root {
        overflow-y: auto;
        height: 80%;
    }
}

.table-view .checkout .pay-button-holder {
    height: 10%;
}

.table-view .items {
    overflow: hidden;
    height: 100%;
}
.table-view .items-holder {
    height: 90%;
    overflow-y: auto;
}

.table-view .searchbox input {
    border: none;
    padding: 0.2rem 0.5rem;
}
.table-view .searchbox {
    height: 10%;
    padding: 1rem 3rem;
}

.table-view .searchbox input:focus {
    outline: none;
}

.invoice-quantity {
    margin: 8px !important;
}

.invoice-minus-button {
    border: 1px solid #F50057 !important;
    color: #F50057 !important;
    transition: 0.4s;
}
.invoice-minus-button:hover {
    border: 1px solid #F50057 !important;
    background: #F50057 !important;
    color: white !important;
    transition: 0.5s;
}

.invoice-plus-button {
    border: 1px solid #2196F3 !important;
    color: #2196F3 !important;
    transition: 0.4s;
}
.invoice-plus-button:hover {
    border: 1px solid #2196F3 !important;
    background: #2196F3 !important;
    color: white !important;
    transition: 0.5s;
}

.invoice-remove-button {
    color: #5E0B15 !important;
    transition: 0.4s;
}
.invoice-remove-button:hover {
    background: #5E0B15 !important;
    color: white !important;
    transition: 0.5s;
}

.table-view .items-holder > div > div:last-of-type {
    margin-bottom: 10px;
}