.menu-card {
    transition: 0.5s all;
    position: relative;
    height: 8rem !important;
}

.category-card {
    height: 11rem !important;
}

.menu-card:hover {
    cursor: pointer;
    background-color: #b7bb81 !important;
    transition: 0.4s all;
}

.menu-card img {
    transition: 0.5s;
    width: 50%;
    padding: 0.1rem;
    filter: grayscale(0.8);
    border-radius: 50%;
    background-color: white;;
}

.menu-card:hover img {
    transition: 0.4s;
    filter: grayscale(0);
}

.menu-card p {
    margin: 0;
}

.MuiPaper-root .MuiIconButton-root {
    padding: 4px !important;
    margin: 0 10px !important;
}

#menu-icon-dropdown .MuiPaper-root {
    overflow-y: auto;
}

@media(max-width: 768px) {
    .categories-holder {
        justify-content: center;
    }
    div[role="presentation"] .MuiBox-root {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: '2px solid #000';
        box-shadow: 24px;
        background-color: white;
        padding: 2rem 2.5rem;
        width: 95% !important;
    }
    .items-holder {
        justify-content: center;
    }
    .menu .col-12 .MuiButtonBase-root {
        display: flex;
    }
    .menu-card p {
        font-size: 13px;
    }
}
.MuiPickersCalendar-week > div > .MuiIconButton-root {
    margin: 0 2px !important;
}