.desktop-navbar .navbar-brand {
    padding-left: 1rem;
}
.desktop-navbar a {
    text-decoration: none;
}
.desktop-navbar a:hover {
    cursor: pointer;
}

@media(max-width: 768px) {
    .desktop-navbar .nav-link {
        padding-left: 1rem;
    }
    .desktop-navbar .navbar-toggler {
        margin-right: 1rem;
    }
}