.sidebar {
    justify-content: center;
}

.sidebar-row {
    margin: 0.9rem 1.4rem;
    align-items: center;
}

.sidebar a {
    color: #94918a !important;
    text-decoration: none !important;
}
.sidebar-row .MuiSvgIcon-root {
    fill: #94918a;
    transition: 0.4s;
}

.sidebar-row > p {
    margin-left: .75rem;
    margin-bottom: 0px;
    transition: 0.4s;
}

.sidebar-row:hover {
    cursor: pointer;
}


.sidebar-row.active p, .sidebar-row:hover p {
    color: #3F51B5;
    text-shadow:
    -0.2px -0.2px 0 #3F51B5,
    0.2px -0.2px 0 #3F51B5,
    -0.2px 0.2px 0 #3F51B5,
    0.2px 0.2px 0 #3F51B5;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.sidebar-row.active .MuiSvgIcon-root, .sidebar-row:hover .MuiSvgIcon-root {
    fill: #3F51B5;
    transition: 0.5s;
}

.vibrating {
    animation: vibration 5s linear 2s infinite alternate;
}

@keyframes vibration {
    0% {
        color: #7a35df !important;
    }
    50% {
        color: #94918a !important;
    }
    100% {
        color: #7a35df !important;
    }
}

@media(max-width: 768px) {
    .sidebar {
        display: none !important;
    }
}