.sidebar {
    justify-content: center;
    position: relative;
}

.sidebar-row {
    margin: 0.9rem 1.4rem;
    align-items: center;
}

.sidebar a, .sidebar p {
    color: #94918a !important;
    text-decoration: none !important;
}
.sidebar-row .MuiSvgIcon-root {
    fill: #94918a;
    transition: 0.4s;
}

.sidebar-row > p {
    margin-left: .75rem;
    margin-bottom: 0px;
    transition: 0.4s;
}

.sidebar-row:hover {
    cursor: pointer;
}


.sidebar-row.active p, .sidebar-row:hover p {
    color: #3F51B5;
    text-shadow:
    -0.2px -0.2px 0 #3F51B5,
    0.2px -0.2px 0 #3F51B5,
    -0.2px 0.2px 0 #3F51B5,
    0.2px 0.2px 0 #3F51B5;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.sidebar-row.active .MuiSvgIcon-root, .sidebar-row:hover .MuiSvgIcon-root {
    fill: #3F51B5;
    transition: 0.5s;
}

.vibrating {
    animation: vibration 5s linear 2s infinite alternate;
}

@media(max-width: 768px) {
    .sidebar {
        display: none !important;
    }
}

.sidebar .language-selector {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
}

.sidebar .language-selector p, .sidebar .language-selector span {
    padding: 0 0.3rem;
    color: #94918a;
    transition: 0.4s;
}
.sidebar .language-selector p:hover {
    cursor: pointer;
    color: #3F51B5 !important;
    transition: 0.5s;
}
.sidebar .language-selector p.active {
    color: #3F51B5 !important;
    font-weight: 600;
}

@media(max-width: 950px) {
    .sidebar-row p {
        display: none;
    }
}