.appointments .searchbox input {
    border: none;
    padding: 0.2rem 0.5rem;
}
.appointments .searchbox-holder {
    background: white;
}

.appointments .searchbox input:focus {
    outline: none;
}

.appointments .MuiTableContainer-root {
    height: 90%;
}

.appointments .book-box {
    justify-content: flex-end;
}

.MuiTabs-flexContainer button {
    flex: 1;
}

.appointments .error {
    background-color: #ef5350;
}
.appointments .error:hover {
    background-color: #e22421 !important;
}
.appointments .error td, .appointments .error p, .appointments .error span {
    color: white;
}
.appointments .warning {
    background-color: #ff9800;
}
.appointments .warning:hover {
    background-color: #d47f00 !important;
}
.appointments .warning td, .appointments .warning p, .appointments .warning span {
    color: white;
}

@media(max-width: 768px) {
    .MuiTabs-flexContainer > .MuiButtonBase-root span {
        height: 100% !important;
    }
    .MuiTabs-root {
        height: 100% !important;
        min-height: 0px !important;
    }
}